
.myborder {
    border:1px solid black;
    border-radius:0px;
/*    background: #FFFFCC;
    overflow: hidden;*/
}



#SliderM {
    width:13.3333%;
    height:115%;
    float:left;
    border-top: none;
    top: -4px;
    font-size:102%;
    border-right:3px solid blue;
    //border:1px solid red;
    padding-top: 4px;
}

#HomeButton {
    width:60%;
    float:left;
    border-left:none;
    border-bottom:none;
    //border:2px solid blue;
    font-size:110%;
    
}

#NotfiyCount {
    position:relative;top:0px;left:4px;background:blue;
}
#MiddleBar {
    
    width:100%;
    border:1px border black;
    font-size:100%;
    margin-top:1.6em;
    margin-bottom:1.6em;
    margin-left: 0%;
    padding: 0em 1em 0em 1em;
    background: #FFFFCC;
    box-shadow: 0px 0px 10px 2px darkkhaki;
    border-radius: 0.4em;
}

#Maincontainer{
    font-size:1.3em;
    width:100%;
    min-width: 291px;
    
    
}

#TopBar{
    border-bottom:3px solid blue;
    position:fixed;
    top:0px;
    width:100%;
    background: #FFFFCC;
    z-index:1;
    height:1.80em;
    padding-top: 0.2em;
}

#BottomBar {
position:fixed;
bottom:0px;
width:100%;

}

body{
    
        background-image: url(/expensemanager/assets/imgs/nice-background.jpg) ;
         background-attachment:fixed;
    
    }
#MenuContainer {
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
    width: 0%;
    font-size: 6%;
    color: black;
    font-weight: bold;
    -webkit-transition-timing-function: ease;
    transition: width 0.1s,font-size 0.1s;
    
    
}

#list {
    display: none;
}


.projectfont {
 font-family: "Times New Roman";
    font-size: 80%;
    font-weight: bold;
  
}


.Homeitem{
  border-bottom: 3px dotted black;
    border-radius: 5px;


}

.col-md-4 {
    //min-width: 125px;
    
}


.sidemenuops {
    
    float: right;
}


.table-curved {
    border-collapse: collapse;
}
.table-curved td + td {
    text-align: right;
}
.table-curved tr:first-child {
   border-top: 3px solid black;
}
.table-curved tr:last-child {
   border-bottom: none;
}

.itemlist {

    width: 0px;
    display: none;


}

.style1 {
    width:100%;
    text-align: center;
    font-size: 1em;
}

@media only screen and (max-width: 350px) {
    
.style1 {
    width:100%;
    font-size: 0.98em;
}

    
}


@media only screen and (min-width: 950px) and (min-width: 587px) {
.myborder {
    border:2px solid black;
    border-radius:7px;
   // background: #FFFFCC;
   // overflow: hidden;
}
  #MenuContainer {
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 11%;
    width: 0%;
    font-size: 6%;
    color: black;
    font-weight: bold;
    -webkit-transition-timing-function: ease;
    transition: width 0.1s,font-size 0.1s;
    
    
}
#Maincontainer{
    font-size:1.3em;
    margin:0 auto;
   
width:80%;
    
    
}
    
#TopBar{
    border-bottom:3px solid blue;
    position:relative;
    top:0px;
    width:100%;
    background: #FFFFCC;
    z-index:1;
    //height:1.75em;
    margin: auto;
}
    
#MiddleBar {
    width:100%;border:1px border black;font-size:100%;margin-top:1.6em;margin-bottom:1.6em;margin-left: 0%;
    background: #FFFFCC;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}
#BottomBar {
height:8%;width:80%;
   z-index: 5;
 min-width: 291px;
    position:fixed;
    background-image: url(/expensemanager/assets/imgs/nice-background.jpg);
   
}
   
.style1 {
    width:100%;
    font-size: 1.2em;
}
       
}

.col-sm-6 {
    padding-left: 4vw;
}

.col-sm-12 {
    width: 100%;
    text-align: left;
}

.form-group {
    width: 100%;
}

.fa-inr {
    font-size: 1.2em;
}

.box1 {
    padding: 2vh;
}

.box2 {
    
    padding: 0.6vh;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 4px;
    border: 1px solid #b39800;
}


.style1 {
    border-left-width:  1px;
    border-right-width:  1px;
    border-top-width:  0px;
    border-bottom-width:  0px;
    border-style: solid;
    border-color: #b39800;
    background-image: url(/expensemanager/assets/imgs/icon2.png);
    
}

#topbox {
    margin-top: 1em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #b39800;
    border-bottom-width: 0px;
    
}

#bottombox {
    margin-bottom: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #b39800;
    border-top-width: 0px;
    
}

hr {
    border-color: black;
}

.container {
    width: 100%;
}

.col-xs-8 {
}

.col-xs-4 {
    overflow: hidden;
}

.alignright {
    text-align: right;
}

.alignleft {
    text-align: left;
}
    
.icon1 {
    text-align: center;
}

.style2 {
    background-color: #fefeaa;
}


@media screen and (max-width: 949px) {
    #MiddleBar {
    padding-bottom: 0.2em;
    padding-top: 0.4em;
}
}